# ======================
# DATABASE
# ======================
POSTGRES_DB=projectydb
POSTGRES_USER=projecty_user
POSTGRES_PASSWORD=super_secure_password

# ======================
# SPRING BOOT
# ======================
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/databsename
SPRING_PROFILES_ACTIVE=docker

# ======================
# JWT
# ======================
JWT_SECRET_KEY=very_secure_jwt_key
JWT_EXPIRATION=your_time expiration

# ======================
# FRONTEND (VITE)
# ======================
VITE_API_URL=your URL

our reel .env not pushed for security concerns !!!